---
layout: default
title: Home
---
<header class="bg-secondary">
  {% include navigation.html %}

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="main-title mx-auto text-center text-primary">FELIXSTOWE CHESS CLUB</h1>
        <div class="main-title-image">
          <img class="img-fluid" src="{{ 'assets/images/deva-darshan-ILMMu2YhtcQ-unsplash.jpg' | relative_url }}" alt="Chess board">
          <img class="circle-dashed" src="{{ 'assets/images/circle-dashed.png' | relative_url }}" alt="Circle dashed" width="184">
        </div>
      </div>
    </div>
  </div>
</header>

<section id="the-club" class="section-margin position-relative">
  <div class="bg-shape">
    <img src="{{ 'assets/images/bg_shape.png' | relative_url }}" alt="Background shape">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="the-club-content">
          <img class="the-club-logo" src="{{ 'assets/images/Felixstowe Chess Club Logo.svg' | relative_url }}" alt="Felixstowe Chess Club" width="97">
          <h2>THE CLUB</h2>
          <p>Welcome to the official home page of Felixstowe Chess Club. A big site for a small club! The club was founded on October 16th 1945.</p>
          <p>Seventeen people attended a meeting held at Felixstowe Secondary School. Dr. Johnston was elected to the chair and Mr. E. R. Springham was elected as Hon. Secretary & Treasurer.</p>  
          <p>It was proposed by Mr. Herring and seconded by Mr. Goose that the club be called "Felixstowe Chess Club".</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="join-us" class="container section-margin">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="join-us-image">
        <img src="{{ 'assets/images/74692537_2511625349060590_3433538379889770496_n.jpg' | relative_url }}" alt="">
      </div>
    </div>
    <div class="col-lg-4">
      <h2>JOIN US</h2>
      <p>Felixstowe Chess club meets on Tuesday evenings at the Royal British Legion Club normally from 7.30pm until around 10.00 o’clock. We play friendly chess and hold club tournaments from time to time. We currently have two teams entered in to the Suffolk Chess League.</p>
      <p>The season runs from about October to April the following year. All new members are welcome regardless of their playing strength.</p>
      <p>We expect only two things:  A love of the game and a willingness to learn.</p>
    </div>
  </div>
</section>

<section class="container section-margin">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <p class="come-along text-center mb-0">All new members are welcome, so please come along if you are interested.</p>
    </div>
  </div>
</section>

<section class="get-in-touch bg-secondary text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <h2 class="text-primary">GET IN TOUCH</h2>
        <p class="text-light">If you want to learn the game of chess, or to improve your play then get in touch with us and come along to one of our club nights.</p>
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="text-primary">DAVE ROBERTSON</h5>
            <p class="text-light">012345 678910</p>
          </div>
          <div>
            <h5 class="text-primary">GARRY HEMSWORTH</h5>
            <p class="text-light">01394 448561</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact bg-primary text-secondary">

  <div class="container-fluid image-gallery">
    <div class="row">
      <div class="col">
        <div class="d-flex">
          <div class="w-25 p-1">
            <img class="img-fluid" src="{{ 'assets/images/75252974_2511625609060564_7734868253326966784_n.jpg' | relative_url }}" alt="Chess board">
          </div>
          <div class="w-25 p-1">
            <img class="img-fluid" src="{{ 'assets/images/75252974_2511625609060564_7734868253326966784_n.jpg' | relative_url }}" alt="Chess board">
          </div>
          <div class="w-25 p-1">
            <img class="img-fluid" src="{{ 'assets/images/75252974_2511625609060564_7734868253326966784_n.jpg' | relative_url }}" alt="Chess board">
          </div>
          <div class="w-25 p-1">
            <img class="img-fluid" src="{{ 'assets/images/75252974_2511625609060564_7734868253326966784_n.jpg' | relative_url }}" alt="Chess board">
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include menu.html %}
</section>

{% include footer.html %}