---
layout: default
title: Home
---
{% include header.html %}
{% include the-club.html %}
{% include join-us.html %}
{% include new-members.html %}
{% include get-in-touch.html %}
{% include contact.html %}
<div class="menu-modal">
  <div class="close-menu">
    <img class="img-fluid" src="{{ 'assets/images/circle-dashed.png' | relative_url }}" alt="Close menu">
    <img class="close-icon" src="{{ 'assets/images/cross_icon.png' | relative_url }}" alt="Close menu">
  </div>
  {% include menu.html %}
</div>
{% include footer.html %}
