<section id="get-in-touch" class="get-in-touch bg-secondary text-center">
  <div class="dotted-circle">
    <img class="img-fluid" src="{{ 'assets/images/dotted_circle.png' | relative_url }}" alt="Dotted circle">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <h2 class="text-primary">GET IN TOUCH</h2>
        <p class="text-light">If you want to learn the game of chess, or to improve your play then get in touch with us and come along to one of our club nights.</p>
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="text-primary">DAVE ROBERTSON</h5>
            <p class="text-light mb-0">012345 678910</p>
            <div class="divider">
              <img class="img-fluid" src="{{ 'assets/images/divider_dark.png' | relative_url }}" alt="Divider">
            </div>
          </div>
          <div>
            <h5 class="text-primary">GARRY HEMSWORTH</h5>
            <p class="text-light mb-0">01394 448561</p>
            <div class="divider">
              <img class="img-fluid" src="{{ 'assets/images/divider_dark.png' | relative_url }}" alt="Divider">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>