<header class="bg-secondary">
  {% include navigation.html %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="main-title mx-auto text-center text-primary" data-aos="fade-right">FELIXSTOWE CHESS CLUB</h1>
        <div class="main-title-image" data-aos="fade-left">
          <img class="img-fluid rectangle-striped" src="{{ 'assets/images/header_image_bg.png' | relative_url }}" alt="Striped pattern border">
          <img class="img-fluid chess-board" src="{{ 'assets/images/header_image.jpg' | relative_url }}" alt="Chess board">
          <img class="circle-dashed" src="{{ 'assets/images/circle-dashed.svg' | relative_url }}" alt="Circle dashed" width="184">
        </div>
      </div>
    </div>
  </div>
</header>