<section id="join-us" class="join-us">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-6 mb-4">
        <div class="join-us-image">
          <img class="img-fluid" src="{{ 'assets/images/large_02.png' | relative_url }}" alt="Photo of Felixstowe chess club">
        </div>
      </div>
      <div class="col-8 col-lg-4">
        <div class="join-us-content">
          <h2 class="mb-0">JOIN US</h2>
          <div class="divider mb-3">
            <img class="img-fluid" src="{{ 'assets/images/divider_light.png' | relative_url }}" alt="Divider">
          </div>
          <p>Felixstowe Chess club meets on Tuesday evenings at the Royal British Legion Club normally from 7.30pm until around 10.00 o’clock. We play friendly chess and hold club tournaments from time to time. We currently have two teams entered in to the Suffolk Chess League.</p>
          <p>The season runs from about October to April the following year. All new members are welcome regardless of their playing strength.</p>
          <p>We expect only two things:  A love of the game and a willingness to learn.</p>
        </div>
      </div>
    </div>
  </div>
</section>