<div id="menu" class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-5 {% if include.type == 'footer' %}d-none d-md-block{% endif %}" data-aos="fade-right">
      <ul>
        {% for item in site.data.navigation %}
          <li class="mb-4">
            <a class="menu-link text-secondary transition" href="{{ item.link | relative_url }}">
              <h3 class="large-link mb-0">{{ item.name }}</h3>
              <div class="menu-divider">
                <img class="img-fluid" src="{{ 'assets/images/divider_light.png' | relative_url }}" alt="Divider">
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% if include.type == 'modal' %}
        <a class="d-md-none" href="https://en-gb.facebook.com/pg/Felixstowechessclub/about/" target="_blank">
          <img src="{{ 'assets/images/facebook_logo.png' | relative_url }}" alt="Facebook" width="62">
        </a>
      {% endif %}
    </div>
    <div class="col-10 col-md-7 {% if include.type == 'modal' %}d-none d-md-block{% endif %}" data-aos="fade-left">
      <h4 class="mb-3">GET IN TOUCH</h4>
      <div class="d-flex mb-4">
        <div class="mr-5">
          <p class="mb-0">Dave Robertson</p>
          <p class="mb-0">Treasurer</p>
          <p>01394 272535</p>
        </div>
        <div>
          <p class="mb-0">Garry Hemsworth</p>
          <p class="mb-0">Chairman</p>
          <p>01394 448561</p>
        </div>
      </div>

      <h4 class="mb-3">OUR LOCATION</h4>
      <div class="mb-4">
        <p>Tuesday nights at 7.30pm.</p>
        <p>Felixstowe Seafarers Centre, Dock Road, Felixstowe Docks, IP11 3TG.</p>
      </div>

      <h4 class="mb-3">SOCIAL</h4>
      <a href="https://en-gb.facebook.com/pg/Felixstowechessclub/about/" target="_blank">
        <img src="{{ 'assets/images/facebook_logo.png' | relative_url }}" alt="Facebook" width="41">
      </a>
    </div>
  </div>
</div>