<div class="menu-modal">
  <div class="p-4 d-flex justify-content-between d-md-none">
    <div class="d-md-none">
      <img src="{{ 'assets/images/Felixstowe Chess Club Logo-Blue.svg' | relative_url }}" alt="Felixstowe chess club" width="48">
    </div>
    <div id="close-menu-mobile" class="close-button sm">
      <img class="img-fluid" src="{{ 'assets/images/circle-dashed.svg' | relative_url }}" alt="Close menu">
      <img class="close-icon" src="{{ 'assets/images/cross_icon.png' | relative_url }}" alt="Close menu">
    </div>
  </div>
  <div id="close-menu" class="close-button lg d-none d-md-block">
    <img class="img-fluid" src="{{ 'assets/images/circle-dashed.svg' | relative_url }}" alt="Close menu">
    <img class="close-icon" src="{{ 'assets/images/cross_icon.png' | relative_url }}" alt="Close menu">
  </div>
  {% include menu.html type="modal" %}
</div>