<div id="message-banner" class="bg-primary py-4 message-banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-12">
                <div class="row align-items-center justify-content-between">
                    <div class="col-4 col-md-3">
                        <h3 class="mb-0">UPDATE</h3>
                        <div class="divider">
                            <img class="img-fluid" src="{{ 'assets/images/divider_light.png' | relative_url }}"
                                alt="Divider">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0">Due to the current COVID restrictions during this pandemic, we are currently not
                            running club nights.
                            Please check this page for updates.</p>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <div id="close-message-banner" class="close-button lg mx-auto">
                            <img class="img-fluid" src="{{ 'assets/images/circle-dashed.png' | relative_url }}"
                                alt="Close menu">
                            <img class="close-icon" src="{{ 'assets/images/cross_icon.png' | relative_url }}"
                                alt="Close menu">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="close-message-banner-mobile" class="close-button sm d-md-none">
        <img class="img-fluid" src="{{ 'assets/images/circle-dashed.png' | relative_url }}" alt="Close menu">
        <img class="close-icon" src="{{ 'assets/images/cross_icon.png' | relative_url }}" alt="Close menu">
    </div>
</div>