<section class="new-members position-relative text-center">
  <div class="bg-shape-second">
    <img src="{{ 'assets/images/bg_shape.svg' | relative_url }}" alt="Background shape">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6" data-aos="fade-up">
        <p class="come-along mb-4">All new members are welcome, so please come along if you are interested.</p>
        <div class="divider">
          <img class="img-fluid" src="{{ 'assets/images/divider_blue.png' | relative_url }}" alt="Divider">
        </div>
      </div>
    </div>
  </div>
  <div class="filled-circle"></div>
</section>