<section id="the-club" class="the-club position-relative">
  <div class="bg-shape-first">
    <img src="{{ 'assets/images/bg_shape.png' | relative_url }}" alt="Background shape">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4" data-aos="fade-up">
        <div class="the-club-content">
          <div class="the-club-logo">
            <img src="{{ 'assets/images/circle-dashed.png' | relative_url }}" alt="Circle dashed" width="186">
            <img class="logo" src="{{ 'assets/images/Felixstowe Chess Club Logo.svg' | relative_url }}" alt="Felixstowe Chess Club" width="97">
          </div>
          <h2 class="mb-0">THE CLUB</h2>
          <div class="divider mb-3">
            <img class="img-fluid" src="{{ 'assets/images/divider_dark.png' | relative_url }}" alt="Divider">
          </div>
          <p>Welcome to the official home page of Felixstowe Chess Club. A big site for a small club! The club was founded on October 16th 1945.</p>
          <p>Seventeen people attended a meeting held at Felixstowe Secondary School. Dr. Johnston was elected to the chair and Mr. E. R. Springham was elected as Hon. Secretary & Treasurer.</p>  
          <p>It was proposed by Mr. Herring and seconded by Mr. Goose that the club be called "Felixstowe Chess Club".</p>
        </div>
      </div>
    </div>
  </div>
</section>