@font-face {
  font-family: "Recoleta";
  src: url('../fonts/Recoleta-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wheat";
  src: url('../fonts/Wheat-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
