html, body {
  overflow-x: hidden;
}

@include media-breakpoint-only(xs) {

  body {
    background-color: $secondary;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  margin-bottom: 200px;

  .main-title {
    position: relative;
    z-index: 3;
    max-width: 670px;
    line-height: 0.9;
  }
  
  .main-title-image {
    position: relative;
    top: -100px;
    max-width: 689px;
    margin-left: auto;
    margin-bottom: -180px;
    z-index: 2;

    .rectangle-striped {
      position: absolute;
      right: -20px;
      bottom: -20px;
    }

    .chess-board {
      position: relative;
      z-index: 1;
    }

    .circle-dashed {
      position: absolute;
      top: 12%;
      left: -140px;
      z-index: 2;
    }
  }
}

@include media-breakpoint-down(lg) {

  header {
    margin-bottom: 300px;
  }
}

@include media-breakpoint-only(xs) {

  header {
    
    .main-title-image {
      top: -40px;
      width: 80%;
      margin-right: auto;

      .circle-dashed {
        width: 120px;
        left: -40px;
      }
    }

  }
}

.the-club {
  padding-bottom: 100px;

  .the-club-content {
    position: relative;
    z-index: 2;
  
    .the-club-logo {
      position: absolute;
      top: -80px;
      left: -150px;
      z-index: -1;

      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@include media-breakpoint-down(lg) {

  .the-club {
  
    .the-club-content {
    
      .the-club-logo {
        position: absolute;
        top: -140px;
        left: -100px;
        z-index: -1;
      }
    }
  }
}

@include media-breakpoint-only(xs) {

  .the-club {
    padding-bottom: 20px;
  }
}

.join-us {
  padding-top: 100px;
  padding-bottom: 100px;

  .join-us-image {
    width: 90%;
    margin: auto;
  }
}

@include media-breakpoint-only(xs) {

  .join-us {
    color: $light;
    padding-top: 20px;
    padding-bottom: 0;

    .join-us-image {
      width: 100%;
      margin: auto;
    }
  }
}

.new-members {
  padding-top: 100px;
  padding-bottom: 200px;
  overflow: hidden;

  .filled-circle {
    z-index: 2;
    background-color: rgba($primary, 0.4);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 265px;
    height: 265px;
  }
}

.get-in-touch {
  padding-top: 150px;
  padding-bottom: 230px;
  position: relative;
  z-index: 1;

  .dotted-circle {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .divider {
    max-width: 100px;
    margin: auto;
  }
}

@include media-breakpoint-only(xs) {

  .get-in-touch {
    padding-bottom: 130px;
  }
}

.contact {
  padding-top: 0;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;

  .image-gallery {
    display: flex;
    margin-top: -100px;
    margin-bottom: 100px;

    .gallery-image {
      width: 25%;
    }
  }
}

@include media-breakpoint-only(xs) {

  .contact {
    
    .image-gallery {
      margin-bottom: 20px;

      .gallery-image {
        width: 100%;
      }
    }
  }
}

.come-along {
  font-size: 30px;
}

.bg-shape-first {
  position: absolute;
  bottom: 0;
  right: 50%;
}

.bg-shape-second {
  position: absolute;
  top: 0;
  left: 0;
}

@include media-breakpoint-only(xs) {

  .bg-shape-first {
    top: -300px;
    left: -500px;
  }
}
