a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  margin-bottom: 200px;

  .main-title {
    position: relative;
    z-index: 1;
    max-width: 670px;
    line-height: 0.9;
  }
  
  .main-title-image {
    position: relative;
    top: -100px;
    max-width: 740px;
    margin-left: auto;
    margin-bottom: -180px; 
  }
}

.section-margin {
  margin-bottom: 200px;
}

.the-club-logo {
  position: absolute;
  top: -48px;
  left: -97px;
}

.join-us-image {
  height: 660px;
  width: 90%;
  overflow: hidden;
  margin: auto;

  img {
    height: 100%;
    width: auto;
    transform: translateX(-25%);
  }
}

.get-in-touch {
  padding-top: 150px;
  padding-bottom: 230px;
}

.contact {
  padding-top: 0;
  padding-bottom: 60px;

  .image-gallery {
    position: relative;
    top: -100px;
  }
}

.come-along {
  font-size: 30px;
}
